<!DOCTYPE html>
<html>
    
<div class="container" align="center">
<h1>What kind of clubs are you interested in?</h1>
<br>

  <% choice1num=0 %>
  <% choice2num=0 %>
  <% choice3num=0 %>
  <% choice4num=0 %>
  <% choice5num=0 %>
  <% choice6num=0 %>
  <% choice7num=0 %>
  <% choice8num=0 %>
  <% choice9num=0 %>
  <% choice10num=0 %>
  <% @clubs.each do |club| %>
    <% if club.choice1 == true %><% choice1num= choice1num+1%><%end%>
    <% if club.choice2 == true %><% choice2num= choice2num+1%><%end%>
    <% if club.choice3 == true %><% choice3num= choice3num+1%><%end%>
    <% if club.choice4 == true %><% choice4num= choice4num+1%><%end%>
    <% if club.choice5 == true %><% choice5num= choice5num+1%><%end%>
    <% if club.choice6 == true %><% choice6num= choice6num+1%><%end%>
    <% if club.choice7 == true %><% choice7num= choice7num+1%><%end%>
    <% if club.choice8 == true %><% choice8num= choice8num+1%><%end%>
    <% if club.choice9 == true %><% choice9num= choice9num+1%><%end%>
    <% if club.choice10 == true %><% choice10num= choice10num+1%><%end%>
  <% end %>


<button id="choice1Button" class="btn btn-primary" onclick="toggleChoice1()">Academics</button><br> 
<div id="choice1" style="display:none;">Number of matches: <%= choice1num %>
<% if choice1num > 0 %>
    <% @clubs.each do |club| %>
    <center><table>
        <% if club.choice1 == true %>
            <tr><td><h4><%= club.name %></h4></td><td><%= button_to "Visit Club Page", { controller: 'clubs', action: 'show', id: club.id }, { method: :get } %></td></tr>
        <%end%>
    </table></center>
    <%end%>
<%else%>
<br>There are currently no clubs in this category
<% end %>
</div>
<br>

<button id="choice2Button" onclick="toggleChoice2()" class="btn btn-success ">Cultural, Religious, Nationalities</button><br > 
<div id="choice2" style="display:none;">Number of matches: <%= choice2num %>
<% if choice2num > 0 %>
    <% @clubs.each do |club| %>
    <center><table>
        <% if club.choice2 == true %>
            <tr><td><h4><%= club.name %></h4></td><td><%= button_to "Visit Club Page", { controller: 'clubs', action: 'show', id: club.id }, { method: :get } %></td></tr>
        <%end%>
    </table></center>
    <%end%>
<%else%>
<br>There are currently no clubs in this category
<% end %>
</div>
<br>

<button id="choice3Button" onclick="toggleChoice3()" class="btn btn-primary">Department or Faculty Student Union</button><br > 
<div id="choice3" style="display:none;">Number of matches: <%= choice3num %>
<% if choice3num > 0 %>
    <% @clubs.each do |club| %>
    <center><table>
        <% if club.choice3 == true %>
            <tr><td><h4><%= club.name %></h4></td><td><%= button_to "Visit Club Page", { controller: 'clubs', action: 'show', id: club.id }, { method: :get } %></td></tr>
        <%end%>
    </table></center>
    <%end%>
<%else%>
<br>There are currently no clubs in this category
<% end %>
</div>
<br>


<button id="choice4Button" onclick="toggleChoice4()" class="btn btn-success">Food</button><br > 
<div id="choice4" style="display:none;">Number of matches: <%= choice4num %>
<% if choice4num > 0 %>
    <% @clubs.each do |club| %>
    <center><table>
        <% if club.choice4 == true %>
            <tr><td><h4><%= club.name %></h4></td><td><%= button_to "Visit Club Page", { controller: 'clubs', action: 'show', id: club.id }, { method: :get } %></td></tr>
        <%end%>
    </table></center>
    <%end%>
<%else%>
<br>There are currently no clubs in this category
<% end %>
</div>
<br>

<button id="choice5Button" onclick="toggleChoice5()" class="btn btn-primary">Fraternity or Sorority</button><br > 
<div id="choice5" style="display:none;">Number of matches: <%= choice5num %>
<% if choice5num > 0 %>
    <% @clubs.each do |club| %>
    <center><table>
        <% if club.choice5 == true %>
            <tr><td><h4><%= club.name %></h4></td><td><%= button_to "Visit Club Page", { controller: 'clubs', action: 'show', id: club.id }, { method: :get } %></td></tr>
        <%end%>
    </table></center>
    <%end%>
<%else%>
<br>There are currently no clubs in this category
<% end %></div>
<br>

<button id="choice6Button" onclick="toggleChoice6()" class="btn btn-success">Music</button><br > 
<div id="choice6" style="display:none;">Number of matches: <%= choice6num %>
<% if choice6num > 0 %>
    <% @clubs.each do |club| %>
    <center><table>
        <% if club.choice6 == true %>
            <tr><td><h4><%= club.name %></h4></td><td><%= button_to "Visit Club Page", { controller: 'clubs', action: 'show', id: club.id }, { method: :get } %></td></tr>
        <%end%>
    </table></center>
    <%end%>
<%else%>
<br>There are currently no clubs in this category
<% end %>
</div>
<br>

<button id="choice7Button" onclick="toggleChoice7()" class="btn btn-primary">Professional Development, Careers</button><br > 
<div id="choice7" style="display:none;">Number of matches: <%= choice7num %>
<% if choice7num > 0 %>
    <% @clubs.each do |club| %>
    <center><table>
        <% if club.choice7 == true %>
            <tr><td><h4><%= club.name %></h4></td><td><%= button_to "Visit Club Page", { controller: 'clubs', action: 'show', id: club.id }, { method: :get } %></td></tr>
        <%end%>
    </table></center>
    <%end%>
<%else%>
<br>There are currently no clubs in this category
<% end %></div>
<br>

<button id="choice8Button" onclick="toggleChoice8()" class="btn btn-success">Science and Technology</button><br > 
<div id="choice8" style="display:none;">Number of matches: <%= choice8num %>
<% if choice8num > 0 %>
    <% @clubs.each do |club| %>
    <center><table>
        <% if club.choice8 == true %>
            <tr><td><h4><%= club.name %></h4></td><td><%= button_to "Visit Club Page", { controller: 'clubs', action: 'show', id: club.id }, { method: :get } %></td></tr>
        <%end%>
    </table></center>
    <%end%>
<%else%>
<br>There are currently no clubs in this category
<% end %></div>
<br>

<button id="choice9Button" onclick="toggleChoice9()" class="btn btn-primary">Sports and Fitness</button><br> 
<div id="choice9" style="display:none;">Number of matches: <%= choice9num %>
<% if choice9num > 0 %>
    <% @clubs.each do |club| %>
    <center><table>
        <% if club.choice9 == true %>
            <tr><td><h4><%= club.name %></h4></td><td><%= button_to "Visit Club Page", { controller: 'clubs', action: 'show', id: club.id }, { method: :get } %></td></tr>
        <%end%>
    </table></center>
    <%end%>
<%else%>
<br>There are currently no clubs in this category
<% end %></div>
<br>

<button id="choice10Button" onclick="toggleChoice10()" class="btn btn-success">Volunteer Work or Social Activism</button>
<div id="choice10" style="display:none;">Number of matches: <%= choice10num %>
<% if choice10num > 0 %>
    <% @clubs.each do |club| %>
    <center><table>
        <% if club.choice10 == true %>
            <tr><td><h4><%= club.name %></h4></td><td><%= button_to "Visit Club Page", { controller: 'clubs', action: 'show', id: club.id }, { method: :get } %></td></tr>
        <%end%>
    </table></center>
    <%end%>
<%else%>
<br>There are currently no clubs in this category
<% end %></div>
<br>
</div>








<script>
    function toggleChoice1() {
    if (document.getElementById("choice1").style.display == "block" ) {
       document.getElementById("choice1").style.display="none";
    }
    else {
      document.getElementById("choice1").style.display="block";
      }
    }
    
    function toggleChoice2() {
    if (document.getElementById("choice2").style.display == "block" ) {
       document.getElementById("choice2").style.display="none";
    }
    else {
      document.getElementById("choice2").style.display="block";
      }
    }
    
    function toggleChoice3() {
    if (document.getElementById("choice3").style.display == "block" ) {
       document.getElementById("choice3").style.display="none";
    }
    else {
      document.getElementById("choice3").style.display="block";
      }
    }    
    
    function toggleChoice4() {
    if (document.getElementById("choice4").style.display == "block" ) {
       document.getElementById("choice4").style.display="none";
    }
    else {
      document.getElementById("choice4").style.display="block";
      }
    } 

    function toggleChoice5() {
    if (document.getElementById("choice5").style.display == "block" ) {
       document.getElementById("choice5").style.display="none";
    }
    else {
      document.getElementById("choice5").style.display="block";
      }
    }   
    
    function toggleChoice6() {
    if (document.getElementById("choice6").style.display == "block" ) {
       document.getElementById("choice6").style.display="none";
    }
    else {
      document.getElementById("choice6").style.display="block";
      }
    }   
    
    function toggleChoice7() {
    if (document.getElementById("choice7").style.display == "block" ) {
       document.getElementById("choice7").style.display="none";
    }
    else {
      document.getElementById("choice7").style.display="block";
      }
    }   
    
    function toggleChoice8() {
    if (document.getElementById("choice8").style.display == "block" ) {
       document.getElementById("choice8").style.display="none";
    }
    else {
      document.getElementById("choice8").style.display="block";
      }
    }   
    
    function toggleChoice9() {
    if (document.getElementById("choice9").style.display == "block" ) {
       document.getElementById("choice9").style.display="none";
    }
    else {
      document.getElementById("choice9").style.display="block";
      }
    }   
    
    function toggleChoice10() {
    if (document.getElementById("choice10").style.display == "block" ) {
       document.getElementById("choice10").style.display="none";
    }
    else {
      document.getElementById("choice10").style.display="block";
      }
    }   
</script>



<style>

table {
    border-collapse: collapse;
    width: 50%;
    table-layout: fixed;
    overflow-x: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap:break-word
}
tr:hover{background-color:#cce6ff}

</style>



</html>