<!DOCTYPE html>
<html>
	
<% if @clubs.any? %>
	
	<table style = "width: 70%">
		
		<tr><h1>Clubs I'm in:</h1></tr>
			<% @clubs.each do |club| %>
				<tr>
				<td><%= button_to "Visit Club Page", { controller: 'clubs', action: 'show', id: club.id }, { method: :get } %>   
				</td>
				<td><strong><%= club.name %>        
				</strong></td>
				<td><%= club.description %>
				</td>
				<% if club.admin_id == current_student.id%>
					<td><i>*I admin this club</i></td>
				<%end%>
				</tr>
			<%end%>
	</table>

<% else %>
	<h2>You're not in any clubs! Take a look and browse all clubs offered: <%= button_to "List All Clubs", allClubs_path, method: "get" %></h2>
	<h2>Or use this tool to browse according to your interests: <%= button_to "Browse Clubs by Category", browseByCategory_path, :method => :get %></h2>
<% end %>

<style>

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap:break-word
}
tr:hover{background-color:#cce6ff}

i{
	color: green;
}

</style>

</html>