<!DOCTYPE html>
<html>
<h1> All Clubs </h1>
<% if @clubs.any? %>
	<table style="width: 70%">
		<% @clubs.each do |club| %>
			<tr>
			<td><%= button_to "Visit Club Page", { controller: 'clubs', action: 'show', id: club.id }, { method: :get } %>   </td>
			<td><strong><%= club.name %>        </strong></td>
			<td><%= club.description %></td>
			</tr>
		<% end %>
	</table>
<% end %>
<br>



<style>

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap:break-word
}
tr:hover{background-color:#cce6ff}


</style>

</html>