<%= form_tag(clubs_path, :method => "get", id: "club-search-form") do %>
<%= text_field_tag :search, params[:search], :size => 35 , placeholder: "Search clubs by name or description", :id => "searchField" %>
<%= submit_tag "Search Clubs" %> <button onclick="resetForm()">Clear Search</button>

<% end %>

<% if @clubs.present? %>
    <%# if present then then clubs will be shown in index %>
<% else %>
  <p>There are no clubs containing the term(s) <%= params[:search] %>.</p>
<% end %>

<script>
function resetForm() {
var form = document.getElementById("searchField");
form.value = ''
}
</script>