
<% provide(:title, "Edit Club Settings") %>
<h2>Edit Club Settings</h2>

<%#FOR EDITING, THE FORM HAS TO START WITH <%= form_for @club  do |f| %> 
<%#BUT for New Club, THE FORM HAS TO START WITH <%= form_for(:club, url: clubs_path) do |f| %> 
<%= form_for @club  do |f| %>

  <table border ="0" style="border:none" height="300px">
    <tr>
       <td><b><%= f.label :name, "Club Name"%></b></td>
       <td> <%= f.text_field :name, placeholder: "Club Name", :size => 30 %></td>
    </tr>
    <tr>
       <td><b><%= f.label :description, "Description (try to provide enough info)"%></b></td>
       <%# <td><p><small> Try and provide enough information</small></p></td>   
    </tr>
    <tr> %>
       <td><%= f.text_area :description, placeholder: "Club Description" , size: "29x6"  %></td>
    </tr>
    <tr>
      <td><b><%= f.label :website, "Club website (optional)" %></b></td>
      <td> <%= f.text_field :website , placeholder: "http://", :size => 30 %></td>
    </tr>
    
    <tr>
    <td><b><%= f.label :insta, "Instagram handle (optional)" %></b></td>
    <td>@<%= f.text_field :insta , placeholder: "simonfraseru", :size => 20 %></td>
    </tr>
    <tr>
    <td><b><%= f.label :twitt, "Twitter handle (optional)" %></b></td>
    <td>@<%= f.text_field :twitt , placeholder: "sfu", :size => 20 %></td>
    </tr>
    
    <tr>
      <td><b>Check categories your club belongs to:</b></td>
      <td><small>This will help students find you!</small></td>
    </tr>
    
    <%# Note: please keep space between <f.checkbox> and <f.label> %>
    <tr>
      <td><%= f.check_box :choice1, {}, true, false %> <%= f.label :choice1, "Academics" %></td>
    </tr>
    <tr>
      <td><%= f.check_box :choice2, {}, true, false %> <%= f.label :choice2, "Cultural, Religious, Nationalities" %></td>
    </tr>
    <tr>
      <td><%= f.check_box :choice3, {}, true, false %> <%= f.label :choice3, "Department or Faculty Student Union" %></td>
    </tr>
    <tr>
      <td><%= f.check_box :choice4, {}, true, false %> <%= f.label :choice4, "Food" %></td>
    </tr>
    <tr>
      <td><%= f.check_box :choice5, {}, true, false %> <%= f.label :choice5, "Fraternity or Sorority" %></td>
    </tr>    
    <tr>
      <td><%= f.check_box :choice6, {}, true, false %> <%= f.label :choice6, "Music" %></td>
    </tr>
    <tr>
      <td><%= f.check_box :choice7, {}, true, false %> <%= f.label :choice7, "Professional Development, Careers" %></td>
    </tr>
     <tr>
      <td><%= f.check_box :choice8, {}, true, false %> <%= f.label :choice8, "Science and Technology" %></td>
    </tr>
    <tr>
      <td><%= f.check_box :choice9, {}, true, false %> <%= f.label :choice9, "Sports and Fitness" %></td>
    </tr>
    <tr>
      <td><%= f.check_box :choice10, {}, true, false %> <%= f.label :choice10, "Volunteer Work or Social Activism" %></td>
    </tr>
  </table>  
   
   
   <br>
   <b>Enter the normal weekly meetings for your club including meeting time and location:</b>
   <table> 
   <tr>
     <td><b><b></td>
     <td><b>Sunday<b></td>
     <td><b>Monday<b></td>
     <td><b>Tuesday<b></td>
     <td><b>Wednesday<b></td>
     <td><b>Thursday<b></td>
     <td><b>Friday<b></td>
     <td><b>Saturday<b></td>
    </tr>
   <tr>
     <td><b>Meeting Description</b></td>
     <td><%= f.text_field :SunDesc %></td>
     <td><%= f.text_field :MonDesc %></td>
     <td><%= f.text_field :TueDesc %></td>
     <td><%= f.text_field :WedDesc %></td>
     <td><%= f.text_field :ThuDesc %></td>
     <td><%= f.text_field :FriDesc %></td>
     <td><%= f.text_field :SatDesc %></td>
   </tr>
   <tr>
     <td><b>Meeting Time</b></td>
     <td><%= f.text_field :SunTime %></td>
     <td><%= f.text_field :MonTime %></td>
     <td><%= f.text_field :TueTime %></td>
     <td><%= f.text_field :WedTime %></td>
     <td><%= f.text_field :ThuTime %></td>
     <td><%= f.text_field :FriTime %></td>
     <td><%= f.text_field :SatTime %></td>
   </tr>
      <tr>
     <td><b>Meeting Location</b></td>
     <td><%= f.text_field :SunPlace %></td>
     <td><%= f.text_field :MonPlace %></td>
     <td><%= f.text_field :TuePlace %></td>
     <td><%= f.text_field :WedPlace %></td>
     <td><%= f.text_field :ThuPlace %></td>
     <td><%= f.text_field :FriPlace %></td>
     <td><%= f.text_field :SatPlace %></td>
   </tr>
   
   <tr>
     <%# blank row %>
   </tr> 
    <tr>
       <td><%= f.submit "Save Changes" %></td>
    </tr>
   </table>
<% end %>
<br>

<%= button_to "Cancel Editing", @club, { method: :get } %>



