<!DOCTYPE html>
<html>
<% require 'uri' %>
<% provide(:title, @club.name) %>



<h1><%= @club.name %></h1>
<p><%= @club.description %></p>

<% if @club.website =~ URI::regexp %>
    <% if @club.website == "http://" %>
    <% else %>
    <p>Club Website: <%= link_to(@club.website, @club.website, target: '_blank') %></p>
    <%end%>
<%end%> 

<% if @club.insta != nil %>	
  <% if @club.insta != ""%>
     <p>Club Instagram: @<%= link_to(@club.insta, "http://instagram.com/#{@club.insta}", target: '_blank') %></p>	
 <%end%>
 <%end%>
	
 <% if @club.twitt != nil %>	
     <% if @club.twitt != "" %>
     <p>Club Twitter: @<%= link_to(@club.twitt, "http://twitter.com/#{@club.twitt}", target: '_blank') %></p>	
 <%end%>	
 <%end%>



<% if @club.admin_id == current_student.id  %>
    <%= link_to "<button>Edit Club Settings</button>".html_safe, edit_club_path(@club) %>
    <% if !access_granted_for_club?(@club) %>
      <div>
        <strong><p>Click <%= link_to "here","/auth/google_oauth2?name=#{@club.name}" ,target: '_blank'%> to show the club's calendar.
        This must be a separate calendar from your own personal calendar.</strong></p>
      </div>
    <% end %>
<% end %>

<br>

 <p>This club has <%= pluralize(@club.students.count, "member") %> in it.</p>  


<% if @club.admin_id == current_student.id  %>

<div class="container">
    <div class="row">
            <h2>Club Member Names:</h2>
            <ol> <%# ordered list %>
            <% @club.students.each do |student| %>
            <li><%= student.name %></li>
            </br>
            <% end %>
            <ol> <%# end ordered list %>
    </div>
</div>

  <div>
      <% if @club.events.empty? %>
        <p>This club has no events. Click to create a new event.</p>
      <% else %>
        <p>This club has <%= @club.events.size %> events.</p>
      <% end %>
      <%= button_to 'Create Event', new_event_path, {:method => :get, :params => {:name => "#{@club.name}"}} %>
      <%= button_to 'Show Events', events_path, {:method => :get, :params => {:name => "#{@club.name}"}} %>
  </div>


<% else %>
    <% if !@club.events.empty? %>
        <p>This club has <%= @club.events.size %> events. Click below to see a list of events.</p>
        <%= button_to 'Show Events', events_path, {:method => :get, :params => {:name => "#{@club.name}"}} %>
    <% else %>
        <p>There are currently no events for this club.</p>
    <% end %>

  <% x=0 %>
  <% current_student.clubs.each do |inClub|   %>
        <% if inClub.id == @club.id %>
          <% x= x+1%>
        <% end %>
  <%end%>
  
  <% if x == 0 %>
    <%= button_to "Join Club", { controller: 'clubs', action: 'join', id: @club.id }, { method: :post } %>
  <% end %>
  
<% end %>




<h2>Weekly Meetings:</h2>
<table>
  
  <caption>This club meets regularly at these times:</caption>
  <thead>
   <tr>
     <td><b><b></td>
     <td><b>Sunday<b></td>
     <td><b>Monday<b></td>
     <td><b>Tuesday<b></td>
     <td><b>Wednesday<b></td>
     <td><b>Thursday<b></td>
     <td><b>Friday<b></td>
     <td><b>Saturday<b></td>
    </tr>
  </thead>
  <tbody>
       <tr>
     <td><b>Description</b></td>
     <td><%= @club.SunDesc %></td>
     <td><%= @club.MonDesc %></td>
     <td><%= @club.TueDesc %></td>
     <td><%= @club.WedDesc %></td>
     <td><%= @club.ThuDesc %></td>
     <td><%= @club.FriDesc %></td>
     <td><%= @club.SatDesc %></td>
   </tr>
   <tr>
     <td><b>Time</b></td>
     <td><%= @club.SunTime %></td>
     <td><%= @club.MonTime %></td>
     <td><%= @club.TueTime %></td>
     <td><%= @club.WedTime %></td>
     <td><%= @club.ThuTime %></td>
     <td><%= @club.FriTime %></td>
     <td><%= @club.SatTime %></td>
   </tr>
      <tr>
     <td><b>Location</b></td>
     <td><%= @club.SunPlace %></td>
     <td><%= @club.MonPlace %></td>
     <td><%= @club.TuePlace %></td>
     <td><%= @club.WedPlace %></td>
     <td><%= @club.ThuPlace %></td>
     <td><%= @club.FriPlace %></td>
     <td><%= @club.SatPlace %></td>
   </tr>
   
   <tr>
     <%# blank row %>
   </tr>
  </tbody>
</table>

<% if @club.admin_id == current_student.id  %> <%#only club admin view club calendar, to avoid permission/access issues %>
  <% if access_granted_for_club?(@club) %>
    <h2>Club Calendar:</h2>
    <p><%= link_to('Plan your trip with translink', 'http://tripplanning.translink.ca/', target: '_blank') %>
    <br>
    </p>
    <div>
      <iframe src="<%= embed_link(@club) %>" 
      style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
      </iframe>
    </div>
  <% end %>
<%end%>  <%#end only club admin views calendar %>

<style>

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap:break-word
}
td:hover{background-color:#cce6ff}

</style>


</html>


