
<center>
<h1>SFUnite</h1>
</center>



<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

<div class="container">

    <div id="tabs-home" class="row slider" style="background:url(http://legalprom.cl/wp-content/uploads/2014/05/main-bg.jpg) no-repeat center fixed;">
        <div class="col-sm-3">
            <nav class="nav-sidebar">
                <ul class="nav tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab"><p>About Us</p><span></span></a></li>
                    <li class=""><a href="#tab2" data-toggle="tab"><p>Features</p><span></span></a></li>
                    <li class=""><a href="#tab3" data-toggle="tab"><p>Clubs</p><span></span></a></li>   
                    <li class=""><a href="#tab4" data-toggle="tab"><p>Join Now</p><span></span></a></li>  
                </ul>
            </nav>
        </div>
        <!-- tab content -->
        <div id="wea" class="col-sm-9 tab-content">
        
            <div class="tab-pane active text-style fade in active" id="tab1">
                <h2>About Us</h2>
                <p>Browse different clubs on campus and become an engaged student!</p>
                <p><strong><a href="/signup">Register for FREE!</a></strong></p>
              
            </div>
            
            <div class="tab-pane text-style fade" id="tab2">
                <h2>Features</h2>
                <p><ul>
                <li>Follow clubs and their activities</li>
                <br>
                <li>Live tweets from SFSS </li>
                <br>
                <li>Add events to your calendar</li>
                <br>
                <li>Host a club admin page</li>
                </p>
                
            </div>
            
            <div class="tab-pane text-style fade" id="tab3">
                <h2>Clubs</h2>
                <p>Find a club by the list or by the categories and always stay <strong>connected</strong></p>
          
            </div> 
            
            <div class="tab-pane text-style fade" id="tab4">
                <h2>Join Now</h2>

                <p><a href="/signup">Register here</a></p>
            </div> 
        </div>
        
    </div>
 </div>
    

  