<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<div class="text-center" style="padding:50px 0">
  <div class="logo">LOGIN</div>
  <!-- Main Form -->
  <div class="login-form-1">
    <%= form_for(:session, url: login_path) do |f| %>
    <div class="main-login-form">
      <div class="login-group">
        <div class="form-group">
          <label for="lg_username" class="sr-only">Username</label>
          <%= f.email_field :email, placeholder: "Email Address" , class: "form-control"%>
        </div>
        <div class="form-group">
          <label for="lg_password" class="sr-only">Password</label>
          <%= f.password_field :password, placeholder: "Password" ,class: "form-control"%>
        </div>
      </div>
      <%= f.submit "Log in", class: "login-button" %>

      <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="etc-login-form">
      
      <p>NEW USER? <a href="/signup">create new account</a></p>
    </div>
    <%end%>
  </div>
  </div>




