<%# 
This is a security feature. If I have student.id=3, then my profile is at ".../students/3", 
 when I am logged on, I cannot view another user's profiles i.e. I cannot access ".../students/1"
%>

<h1>You cannot view another user's profile</h1>