<div class="text-center" style="padding:50px 0">
  <div class="logo">REGISTER</div>
  <!-- Main Form -->
  <div class="login-form-1">
    <%= form_for(@student) do |f| %>
    <form id="register-form" class="text-left">
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          
          
          <div class="form-group">
            <label for="reg_fullname" class="sr-only">Full Name</label>
            <%= f.text_field :name, placeholder: "Name" , class: "form-control"%>
           </div>

          <div class="form-group">
            <label for="reg_email" class="sr-only">Email</label>

            <%= f.email_field :email, placeholder: "Email Address", class: "form-control"%>
          </div>
             <div class="form-group">
            <label for="reg_password" class="sr-only">Password</label>
            <%= f.password_field :password, placeholder: "Password",class: "form-control" %>

          </div>
          <div class="form-group">
            <label for="reg_password_confirm" class="sr-only">Password Confirm</label>
                <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" , class:"form-control" %>
          </div>
          
          <div class="form-group login-group-checkbox">
             <%= f.select :studenttype, [['Student','Student'],['Club Admin','Club Admin']] %>

          </div>
          
        </div>
        <%= f.submit "GO", class: "login-button" %>
        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="etc-login-form">
        <p>already have an account? <a href="/login">login here</a></p>
      </div>
    <%end%>
  </div>
  <!-- end:Main Form -->
</div>













       <!-- Error display -->
      <% if @student.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@student.errors.count, "error") %> prohibited this article from being saved:</h2>
       
          <ul>
          <% @student.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
    </div>
  </div>
  </div>
