<% require 'twitter_api' %>
<% provide(:title, @student.name) %>

<p>
  <h2>Welcome to SFUnite <%= @student.name %>!</h2>
</p>

<% if is_student? %>
  <p>You are logged in as a Student</p>
  <br>
<% else %> 
  <p>You are logged in as a Club Admin</p>
<% end %>

<% if !access_granted? %>
  <div>
    <strong>To show your personal calendar click <%= link_to "here",'/auth/google_oauth2' ,target: '_blank'%></strong>
  </div>
  <br>
<% end %>



  <%= button_to "My Clubs", myClubs_path, :method => :get %> 
  <%= button_to "Search or Browse All Clubs", allClubs_path, :method => :get %> 
  <%= button_to "Browse Clubs by Category", browseByCategory_path, :method => :get %>
  <% if !current_student.events.empty? %>
    <br>
    <%= button_to 'My Events', student_events_path, :method => :get %>
  <% end %>
  
  <br>
  
  

  
  <hr>
  <h2>Latest news from your Simon Fraser Student Society:</h2>
<ul>
  <% cache('sfss_tweets', expires_in: 2.hours)  do %>
  <% TwitterApi.sfss_tweets.each do |tweet| %>
  <li><%=parsed_tweet tweet %></li>  <%#= tweet.text %>
  <% end %>
  <% end %>
</ul>

<% if is_student? %>
<%#students cannot create clubs %>
<% else %> 
  <hr>
  <h2>Start a new club?</h2>
  <button id="displayclubform" onclick="displayclubform()">I want to start a new club!</button> 
<div id="DISPclubform" style="display:none;">
  <%= render 'clubs/clubForm' %>
  <button id="hideclubform" onclick="hideclubform()">Cancel</button> 
</div>

<% end %>

<% if access_granted? %>
  <hr>
<h2>My Calendar:</h2>
	<p><%= link_to('Plan your trip with translink', 'http://tripplanning.translink.ca/', target: '_blank') %>
    <br>
    </p>
  <div>
    <iframe src="<%= embed_link(current_student) %>" 
    style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
    </iframe>
  </div>
<% end %>



<script>
      function displayclubform() {
    if (document.getElementById("DISPclubform").style.display == "block" ) {
       document.getElementById("DISPclubform").style.display="none";
    }
    else {
      document.getElementById("DISPclubform").style.display="block";
      }
    }  
    
    function hideclubform() {
       document.getElementById("DISPclubform").style.display="none";
    }  
</script>


