/* line 1, /home/ubuntu/workspace/276-Group14/app/assets/stylesheets/application.css.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, /home/ubuntu/workspace/276-Group14/app/assets/stylesheets/application.css.scss */
#header-bar {
  background-color: #A6192E;
  border-bottom: 1px solid #0053A6;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.52);
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 30px;
}

/* line 15, /home/ubuntu/workspace/276-Group14/app/assets/stylesheets/application.css.scss */
#heading_right {
  float: right;
  color: white;
}

/* line 20, /home/ubuntu/workspace/276-Group14/app/assets/stylesheets/application.css.scss */
#sfunite_heading {
  font-size: 30px;
  color: white;
}
