<!DOCTYPE html>
<html>
<center>
	<h1> Club Events </h1>
	<p><%= link_to('Plan your trip with translink', 'http://tripplanning.translink.ca/', target: '_blank') %>
    <br>
    </p>
	<table class="table table-hover table-responsive table-responsive">
			<tr>
				<td></td>
				<td><strong>Name</strong></td>
				<td><strong>Description</strong></td>
				<td><strong>Starts at</strong></td>
				<td><strong>Ends at</strong></td>
			</tr>
			<% @events.each do |event| %>
			<tr>
				<td><%= button_to "View Event", event_path(event), { method: :get } %></td>
				<td><strong><%= event.name %></strong></td>
				<td><%= event.description %></td>
				<td><%= format_date(event.start_time) %></td>
				<td><%= format_date(event.end_time) %></td>
			</tr>
		<% end %>
	</table>
</center>


<style>
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap:break-word
}
tr:hover{background-color:#cce6ff}
</style>



</html>