<h1><center>Create Event For</center></h1>
<h2><center><%= params[:name] %></center></h2>
<center>
  
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@event.errors.count, "error") %>
        </div>
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for(:event, url: events_path) do |f| %>

      <table border ="0" style="border:none" height="300px">
      <tr>
      <td><%= f.label :name %></td>
      <td> <%= f.text_field :name, placeholder: "Event 1" %></td>
      </tr>
      <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_field :description %></td>
      </tr>
      <tr>
      <td> <%= f.label :start_time %></td>
      <td><%= f.datetime_select :start_time %></td>
      </tr>
      <tr>
      <td><%= f.label :end_time %></td>
      <td><%= f.datetime_select :end_time %></td>
      </tr>
      <tr>
      <tr>
      <td><%= f.label :place %></td>
      <td> <%= f.text_field :place %></td>
      </tr>
      <%# <tr><td>Click the button below to create your event:</td></tr>  %>
      <tr>
      <td>
        <%= hidden_field_tag(:name, params[:name]) %>
        <%= f.submit "Create Event" %></td>
      </tr>
      </table>
    <% end %>

<%#= image_tag("logo.jpg", :alt => "SFUnite logo") %>


</center>