<% provide(:title, @club.name) %>
<div>
	<h1><%= @club.name %></h1>
	<h2><%= @event.name %></h2>
	<p><%= @event.description %></p>
	<p><%= @event.place %></p>
</div>
<hr>
<% if @club.admin_id == current_student.id %>
	<p>Club Admin: Click to delete this event</p>
	<%= button_to 'Delete', event_path, method: :delete, data: { confirm: "Are you sure you want to delete this event?" } %>
<% end %>
<hr>
<% if !current_student.events.exists?(name: @event.name) %>
	<p>Would you like to sign up for this event?</p>
	<%= button_to 'Sign Up Now', signUp_path, {:method => :get, :params => {:id => "#{@event.id}", :student => "#{current_student.name}"}} %>
<% else %>
	<p>You are currently signed up for this event. To drop this event from your calendar, click below.</p>
	<%= button_to 'Drop Event', drop_path, {:method => :get, :params => {:id => "#{@event.id}", :student => "#{current_student.name}"}} %>
<% end %>