<h1>SFUnite</h1>

<p>Hi <%= @student.name %>,</p>

<p>
Welcome to the SFUnite! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@student.activation_token, email: @student.email) %>