// Place all the styles related to the clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#choice1, .flip {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    
    color: black;
    border: 1px black;
    margin: auto;
}

#choice1 {
    display: none;
}

#choice1head {
    
}

.btn{
	width:30%;
}

